/*
* {
    border: 1px dotted blue;
} */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    min-width: 900px;
}
.header {
    padding: 0px 150px 0px 150px;
    background-color: #1F2937;
    height: 500px;
    color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    align-items: center;
}
ul {
    display: flex;
    padding: 0px;
    margin-right: 10px;
}
li {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB
    }

span {
        font-size: 48px;
        font-weight: bolder;
        color: #F9FAF8;
    }
.header-content {
        font-size: 18px;
        color: #E5E7EB;
        display: flex;
    }
.left-content {
    display: flex;
    flex-direction: column;
}
.right-content {
       background-color: grey;
       display: flex;
       width: 1000px;
       margin-left: 45px;
    
}
button {
    background-color: #3882f6;
    padding: 15px;
    width: 120px;
    margin-top: 10px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border: none;

}
.placeholder {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.images-content {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}
.second-p {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 50px;
}
.box {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    margin: 10px 30px;
    border-radius: 20px;
}
.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    flex: 0;
}
.text {
    text-align: center;
    color: grey;
    font-size: 18px;
    padding: 0px 20px;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 240px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 20px;
}
.signature {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}
.cta {
    margin: 100px;
    display: flex;
    justify-content: center;
}
.action-content {
    background-color: #3883f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    width: 1000px;
    
}
.span-action {
    color: white;
    font-size: 24px;
}
.text-action p {
    color: white;
    margin: 0px;
}
.button-action {
    border: 2px solid white;
    padding: 5px 10px;
}
footer {
        background-color: #1F2937;
        color: white;
        text-align: center;
        padding: 40px;
        font-size: 18px;
    }